    # 프로젝트 정보
    [PROJECT]
    project_id = 3
    test_suite_id = 7
    # plan_id = 30

    [SECTION_ID]
    Prerequisites = 30
    Installation = 33
    Updates = 34
    Tutorial = 35
    LoginAccount = 38
    Feature2 = 41
    Administration = 45
    Search = 51

    # 생성될 테스트 정보
    [MILESTONE]
    milestone_name = test_v1.06

    [TESTRUN]
    type = Regression
    description = 'This is an example description'

