    # 필요시 수정
    [TESTRUN]
    # assignedto_id = 1
    project_id = 1  
    suite_id = 1
    description = 'This is an example description'

    [MILESTONE]
    name = test_v1.02

    [FILTER]
    type = Regression

    # section_id별로 test run 생성
    section_ids = 3, 30